{% extends "base.html" %}
{% load static i18n %}

{% block title %} {% trans "Contact" %} {% endblock title %}

{% block content %}
<div class="contact-container">
    <h1>{% trans "Contact Information" %}</h1>
    
    <p class="contact-intro">
       {% trans " Do you need advice with the bonus programme, do you have any other questions? Please don't hesitate to contact us." %}
    </p>
    
    <div class="contact-table-container">
        <table class="contact-table">
            <tbody>
                <tr>
                    <th>{% trans "Technical support:" %}</th>
                    <td><a href="mailto:{{ support_email }}">{{ support_email }}</a></td>
                </tr>
                <tr>
                    <th>{% trans "Company:" %}</th>
                    <td>{{ company_name }}</td>
                </tr>
                <tr>
                    <th>{% trans "Address:" %}</th>
                    <td>{{ company_street }}, {{ company_zip }} {{ company_city }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}