{% extends "base.html" %}

{% block title %} Kontakt {% endblock title %}

{% block content %}
<div class="contact-container">
    <h1>Kontaktní informace</h1>
    
    <p class="contact-intro">
        Potřebujete poradit s bonusovým programem nebo máte jiný dotaz? Neváhejte nás kontaktovat.
    </p>
    
    <div class="contact-table-container">
        <table class="contact-table">
            <tbody>
                <tr>
                    <th>Technická podpora:</th>
                    <td><a href="mailto:bonus@primavera-and.cz">bonus@primavera-and.cz</a></td>
                </tr>
                <tr>
                    <th>Společnost:</th>
                    <td>PRIMAVERA ANDORRANA s.r.o.</td>
                </tr>
                <tr>
                    <th>Adresa:</th>
                    <td>Jinonická 804/80, 158 00 Praha 5 - Košíře</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}