{% extends "base.html" %}

{% block title %} Přehled {% endblock title %}

{% block content %}
<div class="dashboard-container">
    <h2>Přehled bonusového programu pro: {{ user.first_name }} {{ user.last_name }}</h2>
    
    <div class="points-summary">
        <h3>Aktuální stav bodového konta</h3>
        <p class="total-points">{{ total_points }} bodů</p>
    </div>

    {% if contract %}
    <div class="contract-details">
        <h3>Aktuální členství v bonusovém programu</h3>
        <p><strong>Členství od:</strong> {{ contract.contract_date_from }}</p>
        <p><strong>Členství do:</strong> {{ contract.contract_date_to }}</p>
        
        <h4>Bonusy za značky</h4>
        <ul>
        {% for bonus in brand_bonuses %}
            <li><strong>{{ bonus.brand_id.name }}</strong>: {{ bonus.points_ratio }} bodů za 1 Kč</li>
        {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>Bez aktivních členství.</p>
    {% endif %}

    <div class="quick-links">
        <h3>Rychlé odkazy</h3>
        <ul>
            <li><a href="{% url 'history' %}">Historie bodových transakcí</a></li>
            <li><a href="{% url 'rewards' %}">Nabídka odměn</a></li>
            <li><a href="{% url 'reward_requests' %}">Žádosti o čerpání odměn</a></li>
        </ul>
    </div>
</div>
{% endblock %}
