{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Upload history" %}{% endblock title %}

{% block content %}
<h2>{% trans "Upload history" %}</h2>
<div class="upload-history-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "File name" %}</th>
                <th>{% trans "Uploaded by" %}</th>
                <th>{% trans "Uploaded at" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in uploads %}
            <tr>
                <td>{{ upload.file }}</td>
                <td>{{ upload.uploaded_by }}</td>
                <td>{{ upload.uploaded_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
